<%- include("partials/header.ejs") %>

<!-- Blog Container -->
<section id="blog-container">
    <!-- Left side menu -->
    <section id="menu-bar">
        <h2>Menu Bar</h2>
        <a href="">Feed</a>
        <a href="">Messages</a>
        <a href="">Friends</a>
        <a href="">Activity</a>
        <a href="">Archives</a>
    </section>
    
    <!-- Post Feed -->
    <section id="feed">
        <h1 class="jacquard-12-regular">Welcome 🏠 Home</h1>
        <small>The only way through is forward...</small>
        
        <!-- Output Post -->
        <!-- If there are posts, print array -->
        <% if(locals.feed) { %>
                <% feed.forEach(post => { %>
                    <div id="post">
                        <div id="post-data">
                            <span class="username"><%= post.username %></span>
                            <a href=""><%- post.profilePicture %></a>
                            <small class="time-stamp"><%= post.timeStamp %></small>
                        </div>
                        <div id="post-message">
                            <h3><%= post.subject %></h3>
                            <p><%= post.message %></p>
                        </div>
                    </div>
                <% }); %>
        <!-- If no posts yet -->
        <% } else { %>
            <small>No posts yet</small>
        <!-- If posts fail -->
        <!-- < } else { %>
            <small>Couldn't load posts</small> -->
        <% } %>
    </section>
    
    <!-- Post Form Menu -->
    <section id="post-bar">
        <h2>What's On Your Mind?</h2>
        <form action="/update-feed" method="post">
            <input class="bodoni-moda" type="text" name="subject" placeholder="Subject" required>
            <input class="bodoni-moda" type="text" name="message" placeholder="What do you want to say?" required>
            <input class="abril-fatface-regular" type="submit" value="Post">
        </form>
    </section>
</section>

<%- include("partials/footer.ejs") %>